<!DOCTYPE html>
<html lang="en">

<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }
    </style>
</head>

<body>
    <img src="{% static 'landing/img/logotravel.png' %}" alt="logo" width="120">
    <h1>Coming Soon</h1>
</body>

</html>