<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link
    href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing/styles/styles_index.css' %}">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
        rel="stylesheet">

    {% load i18n %}
    <title>Marketing para Turismo</title>
</head>


<body>
    <header class="sticky-top bg-light">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="#">
                    <img src="{% static 'landing/img/logotravel.png' %}" alt="logo" width="120">
                </a>
    
                <!-- Mobile Menu Toggle -->
                <div class="navbar-toggler menu-toggle" id="mobile-menu" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
    
                <!-- Navigation Links -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav nav-underline">
                        <li class="nav-item d-lg-none">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <select name="language" class="form-select form-select-sm">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% for lang in LANGUAGES %}
                                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>{{ lang.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-custom" type="submit" id="button-addon1"><i
                                            class="fa-solid fa-check"></i></button>
                                </div>
                            </form>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pricing">{% trans "HOW WE WORK" %}</a>
                            </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                SERVICES
                            </a>
                            <div class="dropdown-menu p-2 border-0 shadow">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="text-dark text-decoration-none">
                                            <div class="d-flex p-2 align-items-center rounded-3 icon-wrapper">
                                                <div class="icon fs-3 fs-sm-1 px-3 rounded-3 icon-laptop"><i class="fas fa-laptop"></i></div>
                                                <div class="text px-3">{% trans "Desarrollo Web" %}</div>
                                            </div>
                                        </a>
                                    </div>
    
                                    <div class="col-sm-6">
                                        <a href="#" class="text-dark text-decoration-none">
                                            <div class="d-flex p-2 align-items-center rounded-3 icon-wrapper">
                                                <div class="icon fs-3 fs-sm-1 px-3 rounded-3 icon-cursor"><i
                                                        class="fas fa-i-cursor"></i></div>
                                                <div class="text px-3">{% trans "Investigación de Palabras Clave" %}</div>
                                            </div>
                                        </a>
                                    </div>
    
                                    <div class="col-sm-6">
                                        <a href="#" class="text-dark text-decoration-none">
                                            <div class="d-flex p-2 align-items-center rounded-3 icon-wrapper">
                                                <div class="icon fs-3 fs-sm-1 px-3 rounded-3 icon-seo"><i
                                                        class="fas fa-arrows-to-circle"></i></div>
                                                <div class="text px-3">{% trans "SEO & Contenido" %}</div>
                                            </div>
                                        </a>
                                    </div>
    
                                    <div class="col-sm-6">
                                        <a href="#" class="text-dark text-decoration-none">
                                            <div class="d-flex p-2 align-items-center rounded-3 icon-wrapper">
                                                <div class="icon fs-3 fs-sm-1 px-3 rounded-3 icon-google"><i
                                                        class="fa-brands fa-google"></i></div>
                                                <div class="text px-3">{% trans "Google Ads" %}</div>
                                            </div>
                                        </a>
                                    </div>
    
                                    <div class="col-sm-6">
                                        <a href="#" class="text-dark text-decoration-none">
                                            <div class="d-flex p-2 align-items-center rounded-3 icon-wrapper">
                                                <div class="icon fs-3 fs-sm-1 px-3 rounded-3 icon-instagram"><i
                                                        class="fa-brands fa-instagram"></i></div>
                                                <div class="text px-3">{% trans "Community Management" %}</div>
                                            </div>
                                        </a>
                                    </div>   
    
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">{% trans "PRICING" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#faq">{% trans "FAQ'S" %}</a>
                        </li>
                    </ul>
                </div>
    
                <!-- Language Selector on the Right Side -->
                <div class="d-none d-lg-block">
                    <li class="nav-item dropdown list-unstyled">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {% get_current_language as LANGUAGE_CODE %}
                            {{ LANGUAGE_CODE|upper }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end" aria-labelledby="languageDropdown">
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                            <li>
                                <a class="dropdown-item" href="?language={{ lang.0 }}">
                                    {{ lang.1 }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
    </header>

<section class="hero pt-md-5"> 
    <div class="container">
        <h1 class="title text-center py-3">Get Found,<br> Get Booked,<br>Grow your business!</h1>

        <div class="mision py-3">
            <h2 class="subtitle pb-3">{% trans "All-in-one digital solutions for Dominican Republic tourism  businesses starting at just $1,000!" %}</h2>
            <a href="#join" class="join-btn my-5">{% trans "GET STARTED FOR FREE" %}</a>
        </div>

    </div>
</section>

<section class="specialize-section py-3">
    <div class="title-container container-fluid">
        <h4 class="text-center py-3">We specialize in</h4>
    </div>
    <div class="logo-container">
        <div class="logos">
            <img src="{% static 'landing/img/google-ads-logo.png' %}" alt="Google Ads" class="partner-logo">
            <img src="{% static 'landing/img/meta-logo.png' %}" alt="Meta" class="partner-logo">
            <img src="{% static 'landing/img/trip-advisor-logo.png' %}" alt="TripAdvisor" class="partner-logo">
            <img src="{% static 'landing/img/viator-logo.png' %}" alt="Viator" class="partner-logo">
            <img src="{% static 'landing/img/expedia-logo.png' %}" alt="Expedia" class="partner-logo">
        </div>
    </div>
</section>


<section class="py-5 bg-light">
                <div class="container text-center">
                    <h3 class="mb-4">Why Travel Growth?</h3>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-body align-content-center">
                                    <h5 class="card-title text-center fw-bold">Maximize Visibility</h5>
                                    <p class="card-text text-justify">Get your business in front of millions of travelers searching for unique
                                        Dominican Republic experiences.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-body align-content-center">
                                    <h5 class="card-title text-center fw-bold">Boost Bookings</h5>
                                    <p class="card-text text-justify">Turn clicks into confirmed reservations with data-driven campaigns designed
                                        to deliver results.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-body align-content-center">
                                    <h5 class="card-title text-center fw-bold">Personalized Strategies</h5>
                                    <p class="card-text text-justify">Whether you run a hotel, restaurant, tour, or attraction, we create
                                        solutions tailored to your goals.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-body align-content-center">
                                    <h5 class="card-title text-center fw-bold">Effortless Implementation</h5>
                                    <p class="card-text text-justify">Focus on your business while we handle the setup and execution seamlessly.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>

<!-- <section class="py-5" id="why-travel-growth" >
    <div class="container">
        <h3 class="text-center mb-5">{% trans "Why Travel Growth?" %}</h3>
        <div class="row align-items-center mb-4">
            <div class="col-md-6">
                <img src="{% static 'landing/img/visibility.jpg' %}" alt="{% trans 'Maximize Visibility' %}"
                    class="img-fluid">
            </div>
            <div class="col-md-6">
                <h5 class="fw-bold">{% trans "Maximize Visibility" %}</h5>
                <p>{% trans "Get your business in front of millions of travelers searching for unique Dominican Republic experiences." %}</p>
            </div>
        </div>
        <div class="row align-items-center mb-4">
            <div class="col-md-6 order-md-2">
                <img src="{% static 'landing/img/bookings.jpg' %}" alt="{% trans 'Boost Bookings' %}"
                    class="img-fluid">
            </div>
            <div class="col-md-6 order-md-1">
                <h5 class="fw-bold">{% trans "Boost Bookings" %}</h5>
                <p>{% trans "Turn clicks into confirmed reservations with data-driven campaigns designed to deliver results." %}</p>
            </div>
        </div>
        <div class="row align-items-center mb-4">
            <div class="col-md-6">
                <img src="{% static 'landing/img/strategies.jpg' %}" alt="{% trans 'Personalized Strategies' %}"
                    class="img-fluid">
            </div>
            <div class="col-md-6">
                <h5 class="fw-bold">{% trans "Personalized Strategies" %}</h5>
                <p>{% trans "Whether you run a hotel, restaurant, tour, or attraction, we create solutions tailored to your goals." %}</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <img src="{% static 'landing/img/implementation.jpg' %}" alt="{% trans 'Effortless Implementation' %}"
                    class="img-fluid">
            </div>
            <div class="col-md-6 order-md-1">
                <h5 class="fw-bold">{% trans "Effortless Implementation" %}</h5>
                <p>{% trans "Focus on your business while we handle the setup and execution seamlessly." %}</p>
            </div>
        </div>
    </div>
</section> -->


<section class="py-5 bg-light" id="pricing">
    <div class="container">
        <h3 class="mb-5 text-center fw-bold">{% trans "Choose Your Plan" %}</h3>
        <div class="row g-4 justify-content-center">
        <div class="col-md-4">
            <div class="card border-0 shadow-sm h-100 d-flex flex column">
                <div class="card-body d-flex flex-column">
                    <div class="card-header-flex mb-3">
                                <h4 class="text-primary fw-bold fs-3 text-center">{% trans "Travel Growth Kickstart" %}</h4>
                    <p class="text-center fw-bold">{% trans "Basic Plan" %}</p>
                    <p  class=" text-center">{% trans "Perfect for businesses starting to enhance their online presence and attract more travellers!" %}</p>
                    <h5 class="fw-bold  text-center">{% trans "Cost: $1,000 Set up" %}</h5>   
                    </div>
        
                    <hr>
                    <div class="flex-fill">
        <h5 class="fw-bold  text-center">{% trans "What's included:" %}</h5>
                    <ul class="list-unstyled">
                        <li class="mt-3">
                            <p class="fw-bold mb-0 ms-2">{% trans "TripAdvisor Business Listing Creation" %}</p>
                            <ul>
                                <li>{% trans "Professional setup of your business profile." %}</li>
                                <li>{% trans "Optimized to attract travellers with high-quality descriptions." %}</li>
                                <li>{% trans "Category tagging and image uploads for better visibility." %}</li>
                            </ul>
                        </li>
                        
                        <li class="mt-3">
                            <p class="fw-bold mb-0 ms-2">{% trans "Viator Product Creation" %}</p>
                            <ul>
                                <li>{% trans "Set up and optimize one tour or activity on Viator." %}</li>
                                <li>{% trans "Includes detailed descriptions, pricing, photos, and booking information." %}</li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    
                    <!-- Botón -->
                    <div class="my-3 text-center">
                        <button class="btn btn-primary btn-sm">{% trans "BOOK NOW" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0 shadow-sm h-100 d-flex flex column">
                <div class="card-body d-flex flex-column">
                    <div class="card-header-flex mb-3">
                    <h4 class="text-primary fw-bold fs-3  text-center">{% trans "Growth Package" %}</h4>
                    <p class="text-center fw-bold">{% trans "Travel Growth Kickstart + TripAdvisor Ad Express" %}</p>
                    <p class="text-center">{% trans "Ideal for businesses ready to elevate their exposure and engage more effectively with potential customers!" %}</p>
                    <h5 class="fw-bold text-center">{% trans "Cost: $1,000 setup + $500 monthly fee" %}</h5>
                    </div>
                    <hr>

        <div class="flex-fill">
        <h5 class="fw-bold text-center">{% trans "What's included:" %}</h5>
                    <ul class="list-unstyled">
                        <li class="mt-3">
                            <p class="fw-bold mb-0 ms-2">{% trans "Includes the Basic Package:" %}</p>
                            <ul>
                                <li>{% trans "TripAdvisor Business Listing Creation" %}</li>
                                <li>{% trans "Viator Product Creation" %}</li>
                            </ul>
                        </li>

                        <li class="mt-3">
                            <p class="fw-bold mb-0 ms-2">{% trans "Optional Add-On: TripAdvisor Ad Express - Listing Booster Campaign" %}</p>
                            <ul>
                                <li>{% trans "Increased Visibility: Target travellers searching for services in your location." %}</li>
                                <li>{% trans "Custom Campaign Management: Tailored ad campaigns for your audience (local or international)." %}</li>
                                <li>{% trans "Monthly Performance Insights: Understand your ad performance with detailed reports." %}</li>
                            </ul>
                        </li>
                    </ul>
            </div>
                    <div class="my-3 text-center">
                        <button class="btn btn-primary btn-sm">{% trans "BOOK NOW" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0 shadow-sm h-100 d-flex flex column">
                <div class="card-body d-flex flex-column">
                                <div class="card-header-flex mb-3">
                                <h4 class="text-primary fw-bold fs-3 text-center">{% trans "Pro Package" %}</h4>
                    <p class="text-center fw-bold">{% trans "Travel Growth Kickstart + Website + Advanced Ad Management" %}</p>
                    <p class="text-center">{% trans "For businesses seeking robust growth through professional management and strategic advertising!" %}</p>
                    <h5 class="fw-bold text-center">{% trans "Cost: $2,500" %}</h5>
                                </div>
                    <hr>

                <div class="flex-fill">
                    <h5 class="fw-bold text-center">{% trans "What's included:" %}</h5>
                    <ul class="list-unstyled">
                        <li class="mt-3">
                            <p class="fw-bold mb-0 ms-2">{% trans "Core Features:" %}</p>
                            <ul>
                                <li>{% trans "TripAdvisor Business Listing Creation" %}</li>
                                <li>{% trans "Viator Product Creation" %}</li>
                                <li>{% trans "Landing Page Development" %}</li>
                                <li>{% trans "TripAdvisor Ad Express - Listing Booster Campaign" %}</li>
                            </ul>
                        </li>

                        <li class="mt-3">
                            <p class="fw-bold mb-0 ms-2">{% trans "Enhanced Pro Features:" %}</p>
                            <ul>
                                <li>{% trans "Hands-Free Setup: Our team manages all aspects of your ad campaign." %}</li>
                                <li>{% trans "Scalable Reach: Perfect for businesses looking to maximize visibility during peak seasons." %}</li>
                                <li>{% trans "Expert Consultation: Ongoing access to guidance for continuous campaign optimization." %}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                

                    <!-- Botón -->
                    <div class="my-3 text-center">
                        <button class="btn btn-primary btn-sm">{% trans "BOOK NOW" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
            </div>
</section>


<section class="faq-section container-fluid">
    <div class=" faq-container">
        <h3 class="text-center mb-5">{% trans "Frequently Asked Questions" %}</h3>

        <!-- Pregunta 1 -->
        <div class="faq-item">
            <button class="faq-question collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse1" aria-expanded="false" aria-controls="faqCollapse1">
                <strong>{% trans "Why should I invest in a TripAdvisor Business Listing and Viator Product Creation?" %}</strong>
                <span class="faq-chevron">
                <i class="bi bi-caret-down-fill"></i>
                </span>
            </button>
            <div id="faqCollapse1" class="collapse faq-answer">
                <p>{% trans "These platforms are trusted by millions of travelers worldwide. A professional presence increases visibility, builds trust, and drives bookings." %}</p>
            </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="faq-item">
            <button class="faq-question collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                <strong>{% trans "What does the $500/month Ad Express service include?" %}</strong>
                <span class="faq-chevron">
                    <i class="bi bi-caret-down-fill"></i>
                </span>
            </button>
            <div id="faqCollapse2" class="collapse faq-answer">
                <p>{% trans "Our Ad Express service includes custom ad creation, performance monitoring, and detailed monthly reporting. It’s a comprehensive solution to maximize your presence on TripAdvisor." %}</p>
            </div>
        </div>

        <!-- Pregunta 3 -->
        <div class="faq-item">
            <button class="faq-question collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                <strong>{% trans "Can I cancel the Ad Express service at any time?" %}</strong>
                <span class="faq-chevron">
                    <i class="bi bi-caret-down-fill"></i>
                </span>
            </button>
            <div id="faqCollapse3" class="collapse faq-answer">
                <p>{% trans "Yes, we offer flexible terms. However, we recommend at least three months to see the full benefits of the campaign." %}</p>
            </div>
        </div>

        <!-- Pregunta 4 -->
        <div class="faq-item">
            <button class="faq-question collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                <strong>{% trans "What’s the difference between a business listing and an Ad Express campaign?" %}</strong>
                <span class="faq-chevron">
                    <i class="bi bi-caret-down-fill"></i>
                </span>
            </button>
            <div id="faqCollapse4" class="collapse faq-answer">
                <p>{% trans "A business listing establishes your presence on TripAdvisor and Viator. An Ad Express campaign enhances visibility by placing your business in front of more travelers actively searching for services." %}
                </p>
            </div>
        </div>

    </div>
</section>


<footer>
            <div class="container p-5">
                <div class="row">
                    <div class="text-center m-4">
                        <h3>{% trans "Transform Your Business." %}</h3>
                        <h5 class="mt-4">{% trans "Let's work together" %}</h5>
                        <button class="btn btn-footer rounded-pill mt-4">Get in touch!</button>
                    </div>
                </div>
        
                <div class="row justify-content-between align-items-center text-center gx-5 mt-5">
                    <div class="col-md-4">
                        <div class="p-3">
                            <a class="navbar-brand" href="#">
                                <img src="{% static 'landing/img/logotravel.png' %}" alt="Logo" width="120">
                            </a>
                        </div>
                    </div>
                    <!-- Phone and Email -->
                    <div class="col-md-4">
                        <div class="contact">
                            <a href="https://wa.me/5491150156665" target="_blank" class="d-block text-light"><i
                                    class="fa-brands fa-whatsapp"></i> +54 9 11 50 15 66
                                65</a>
                            <a href="mailto:growthtravels@gmail.com" class="d-block text-light"><i
                                    class="fa-regular fa-envelope"></i>growthtravels@gmail.com</a>
                        </div>
                    </div>
        
                    <!-- Social Media Icons -->
                    <div class="col-md-4">
                        <div class="p-3">
                            <p class="seguinos">{% trans "Seguinos" %}</p>
                            <a href="https://facebook.com" target="_blank" class="text-light me-3">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank" class="text-light me-3">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                            <a href="https://linkedin.com" target="_blank" class="text-light me-3">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5">
          
                <small>&copy; 2024 - PINITGROWTH - TODOS LOS DERECHOOS RESERVADOS.</small>
            </div>
</footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const mobileMenu = document.getElementById('mobile-menu');

                // Mostrar u ocultar el menú principal en móvil
                mobileMenu.addEventListener('click', () => {
                    mobileMenu.classList.toggle('open');
                });

            })
            document.addEventListener("DOMContentLoaded", function () {
            const fadeElements = document.querySelectorAll('.fade-in');
            
            const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
            if (entry.isIntersecting) {
            entry.target.classList.add('visible'); // Añade la clase para hacer visible
            } else {
            entry.target.classList.remove('visible'); // Elimina la clase cuando se sale de pantalla
            }
            });
            }, {
            threshold: 0.5 // El 50% del elemento debe ser visible antes de activar
            });
            
            fadeElements.forEach(el => observer.observe(el));
            });
        </script>
        <script>
        document.querySelectorAll('.faq-question').forEach((button) => {
            button.addEventListener('click', () => {
            const isCollapsed = button.classList.contains('collapsed');
            
            // Espera un pequeño retardo para sincronizar con la animación de Bootstrap
            setTimeout(() => {
            if (isCollapsed) {
            button.classList.remove('collapsed');
            } else {
            button.classList.add('collapsed');
            }
            }, 50);
            });
            });

    document.addEventListener('DOMContentLoaded', () => {
        const logosContainer = document.querySelector('.logos');
        let lastScrollTop = 0; // Para rastrear la posición del último scroll
        let translateX = 0; // Para almacenar la posición actual del desplazamiento

        window.addEventListener('scroll', () => {
            const currentScrollTop = window.scrollY; // Posición actual del scroll
            const delta = currentScrollTop - lastScrollTop; // Diferencia entre el último y el actual

            // Log para depurar
            console.log('Scroll detected!');
            console.log('Delta:', delta);

            // Si la diferencia es positiva, el usuario hace scroll hacia abajo (mover a la izquierda)
            if (delta > 0) {
                translateX -= 10; // Mueve los logos hacia la izquierda
            }
            // Si la diferencia es negativa, el usuario hace scroll hacia arriba (mover a la derecha)
            else if (delta < 0) {
                translateX += 10; // Mueve los logos hacia la derecha
            }

            // Aplica la transformación
            logosContainer.style.transform = `translateX(${translateX}px)`;

            // Actualiza la posición del último scroll
            lastScrollTop = currentScrollTop;
        });
    });


</script> 
</body>
</html>